extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Daniel Rivera

        p Full Stack JavaScript Developer


        .about-bio

          p Born and rise in Mexico City. Moved to Tijuana in 2015. I've lived in lots of different places and have worked in lots of different jobs. I studied music for several years and worked as a teacher. I find programming languages quite similar to music. I'm also a self-taught person. I love to learn and understend how things work. So i'm very excited to learn not just JavaScript, but as many as possible code knowledge.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 555-555-1234
          li dani_wooten@hotmail.com

        a.btn-link(href='') LinkedIn
        a.btn-link(href='https://github.com/DanielRiveraR' target= '_blank') GitHub
        a.btn-link(href='') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back