<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.google.com/specimen/PT+Sans+Narrow#standard-styles', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Patrick+Hand&display=swap", rel="stylesheet")
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='../static/img/me.jpg', alt='picture of Dani')
        .dev-intro-box

          h5 Daniel Rivera

          p Hi! I'm Daniel, a front end web developer, musician, and a enthusiastic self-taught.

          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Daniel Rivera

      block content

  script(src='/static/js/script.js')