extends layout.pug

block content
  div.error
    h1= `404 - Page Not Found`
    p= `Ooops! It looks like the page your looking for doesn't exist.`  

    
  a.Backhome(href='/') Home    

  pre= err.stack 